* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #07294d;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 9%;
    padding-right: 4.5%;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

.header-icon {
    width: 20%;
    padding-left: 60px;
    color: #fff;
}

.header-icon i {
    margin-right: 15px;
}


.midheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    padding-left: 9%;
    padding-right: 4.5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mid-logo {
    width: 35%;
    /* padding-left: 9%; */
    /* margin-right: 0px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

.mid-logo img {
    width: 250px;
    height: 44px;
}

.mid-content {
    width: 65%;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    /* margin: 0px; */
}

.mid-content .sub-content1 {
    width: 27%;
    /* padding: 0px 0px 15px 0px; */
    display: flex;
    flex-direction: row;
    /* margin-top: 5px; */
    /* padding-left: 2%; */
    /* margin-bottom: 5px; */
}

.mid-content .sub-content2 {
    width: 31%;
    /* padding: 0px 0px 15px 0px; */
    display: flex;
    flex-direction: row;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

.mid-content .sub-content3 {
    width: 35%;
    /* padding: 0px 0px 15px 0px; */
    display: flex;
    flex-direction: row;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

.content-icon {
    border: 0.1px solid #eaecf2;
    /* margin-top: 5px; */
    /* margin-bottom: 7px; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* padding-bottom: 7px; */
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f4f6f9;
    color: #07294D;
    /* margin: 0px; */
}

.content-icon .fa-solid {
    padding: 15px 0px 5px 0px;
    margin: 0px;
}

.content-item h3 {
    padding: 5px 5px 0px 10px;
    /* margin-bottom: 10px; */
    color: #131d3b;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;

}

.content-item h5 {
    /* margin-top: 0px;
    margin-bottom: -10px; */
    padding: 5px 5px 0px 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #666;
}

.menu-bar {
    width: 100%;
    background-color: #f4f6f9;
    display: flex;
    flex-direction: row;
    padding-left: 9%;
    padding-right: 4.5%;
    /* padding: 20px 0px 20px 0px; */
}

.menu-items {
    width: 78.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-items ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #07294D;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 16px;
    /* justify-content: space-between; */
}

.menu-items ul li:hover {
    color: #ffc600;
}

.menu-items ul li {
    padding: 0px 35px 0px 0px;
}

.menu-button {
    /* padding-left: 2%; */
    padding-left: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 33px;
    margin-left: 7px;
    background-color: #ffc600;
}

.menu-btn {
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #07294D;
    text-decoration: none;
    font-size: 16px;
    /* padding-left: 15px; */
}



.slider-area1 {
    background-color: rgba(8, 41, 77, 0.9);
    position: relative;
}

.slider-area1 {
    background-image: url(bg-slide.jpg);
    height: 100%;
    width: 100%;
    /* padding-bottom: 60%; */
    /* margin-bottom: 100px; */
    position: relative;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}

.slider-area1 .slider-shape1 {
    position: absolute;
    bottom: -4px;
    left: 0px;
}

.slider-area1 .container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 9%;
    padding-right: 4.5%;
}

.container1 .col1 {
    width: 47%;
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    padding-bottom: 200px;
    /* margin-bottom: 25%; */
}

.col1-item1 {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    line-height: 50px;
    font-size: 42px;
    color: white;
}

.col1-item2 {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ccc;
}

.col1-item3 {
    width: 50%;
    /* padding: 15px; */
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Rubik', sans-serif;
}

.col1-item3 .btn1 {
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    color: #07294D;
    background-color: #ffc600;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    /* margin:auto; */

}

.container1 .col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
    /* margin-bottom: 100px; */
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    /* margin-right: 75px; */
}

.col2 img {
    width: 550px;
    height: 450px;
}



.part2 {
    background-color: #ffffff;
    padding-left: 9%;
    padding-right: 4.5%;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
}

.part2 .container2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.container2 h1 {
    font-size: 40px;
    color: #000;
}

.container2 p {
    font-size: 16px;
    color: #444;
    padding-top: 10px;
}

.row1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.box1 {
    width: 30%;
    height: 290px;
    border: 1px solid white;
    border-radius: 15px 15px;
    margin-top: 15px;
    margin-right: 28px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
}

.box1 i {
    /* border: 1px solid black; */
    border-radius: 100%;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 35%;
    font-size: 40px;
}

.box1 h1 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    color: #000;
    font-family: 'Rubik', sans-serif;
}

.box1 p {
    text-align: center;
    margin-bottom: 2px;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
}

.part3 {
    background-image: url(background.jpg);
    /* border: 1px solid black; */
    font-family: sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container3 {
    /* background-color: grey; */
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.container3 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    font-family: 'Rubik', sans-serif;
    padding-top: 40px;
}

.container3 p {
    font-size: 17px;
    color: #444;
    line-height: 25px;
    padding-top: 15px;
}

.row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* margin-left: 60px; */
    /* margin-left: 40px; */
}

.box2 {
    width: 30%;
    border: 1px solid white;
    margin-top: 15px;
    margin-right: 28px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
    border-radius: 0.5rem;
}

.box2 img {
    /* border: 1px solid black; */
    width: 100%;
    /* height: 50%; */
}

.box2 .row2head {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 20px;
    color: #07294d;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.box2 .row2head:hover {
    color: #ffc600;
}

.box2 p {
    text-align: left;
    margin-bottom: 4px;
    margin-left: 12px;
    margin-right: 2px;
    line-height: 25px;
    width: 92%;
    word-spacing: 0.7mm;
    font-size: 16px;
    color: #666;

}

.staricons {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.border {
    border-bottom: 1px solid #EEE;
}

.stars i {
    color: #ffc600;
    font-size: 16px;
}

.icons {
    margin-left: 85px;
}

.icons i {
    color: #07294d;
    font-size: 18px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.alia-noor {
    display: flex;
    flex-direction: row;
    width: 92%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alia-icon {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 0px;
}

.alia-icon img {
    border-radius: 100%;
    width: 35%;
}

.alia-icon span {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    /* font-size: 18px; */
}

.iconbox1 {
    margin-top: 15px;
    margin-left: 100px;
}

.iconbox1 span {
    border: 1px solid #d4edda;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0.3rem;
    color: #155724;
    background-color: #d4edda;
    font-weight: bold;
}


.part4 {
    background-color: #fff;
    /* border: 1px solid black; */
    font-family: sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    margin-bottom: 30px;
}

.container4 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
}

.container4 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
}

.container4 p {
    font-size: 18px;
    font-weight: lighter;
    color: #666;
    padding-top: 15px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.row3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* margin-left: 60px; */
    /* margin-left: 40px; */
}

.box3 {
    width: 30%;
    border: 1px solid white;
    border-radius: 0.4rem;
    margin-top: 15px;
    margin-right: 28px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
}

.box3 .eventimg {
    /* border: 1px solid black; */
    position: relative;
    /* height: 50%; */
}

.box3 .eventimg img {
    width: 100%;
    border-radius: 0.4rem;
}

.text-in-image {
    border: 1 px solid #ffc600;
    background-color: #ffc600;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    max-width: 75px;
}

.text-in-image h5 {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    margin: 0px;
    text-align: center;
}

.text-in-image h5 span {
    display: block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.box3 .row3head {
    text-align: left;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-top: 10px;
    font-size: 20px;
    color: #07294d;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.box3 .row3head:hover {
    color: #ffc600;
}

.box3 p {
    text-align: left;
    margin-bottom: 4px;
    margin-left: 12px;
    margin-right: 35px;
    line-height: 25px;
    font-size: 16px;
    color: #666;

}

.iconuser1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-left: 15px; */
    /* margin-bottom: 10px; */
    margin-top: 0px;
    border-top: 1px solid #EEE;
}

.user1 {
    border-right: 1px solid #EEE;
    width: 50%;
    padding: 15px;
    color: #07294d;
    font-size: 16px;
    text-align: center;
    font-weight: 450;
}

.location1 {
    width: 50%;
    padding: 15px;
    color: #07294d;
    font-size: 16px;
    font-weight: 450;
    text-align: center;
}




.slider-area2 {
    background-color: rgba(8, 41, 77, 0.9);
    position: relative;
}

.slider-area2 {
    background-image: url(bg-slide.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}

.slider-area2 .container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 9%;
    padding-right: 4.5%;
}

.container2 .box4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 75px; */
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.images img {
    width: 60px;
    /* margin-left: 100px; */
}

.text1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
    margin-left: -10px;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    /* margin-right: 100px; */
}

.text2 {
    color: white;
    font-size: 15px;
    font-weight: light;
    /* text-align: center; */
    font-family: 'Rubik', sans-serif;
    /* margin-right: 100px; */
}


.part6 {
    background-color: #fff;
    /* border: 1px solid black; */
    font-family: 'Rubik', sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    margin-bottom: 30px;
}

.container6 {
    /* background-color: grey; */
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
}

.container6 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
}

.container6 p {
    font-size: 16px;
    color: #444;
    padding-top: 15px;
    font-family: 'Rubik', sans-serif;
}

.row6 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.row6 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.row6 ul li {
    padding: 8px 15px 8px 15px;
    margin: 10px;
    border: 1px solid #f4f6f9;
    border-radius: 0.5rem;
    background-color: #f4f6f9;
}

.row7 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* margin-left: 40px; */
}

.box6 {
    width: 30%;
    border: 1px solid white;
    margin-top: 15px;
    margin-right: 28px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
    position: relative;
}

.box6 img {
    /* border: 1px solid black; */
    width: 100%;
    border-radius: 1rem;
    /* height: 50%; */
}


.box6 .overlay i {
    border-radius: 100%;
    padding: 15px;
    font-size: 25px;
    background-color: #ffc600;
    color: #000;
    text-align: center;
}

.box6 .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(8, 41, 77, 0.9);
    overflow: hidden;
    height: 0;
    transition: .3s ease;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6:hover .overlay {
    height: 100%;
    bottom: 0;
    /* opacity: 0.8; */
}





.part7 {
    background-image: url(background.jpg);
    /* border: 1px solid black; */
    font-family: 'Rubik', sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    margin-bottom: 30px;
}

.container7 {
    /* background-color: grey; */
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 15px;
}

.container7 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    padding-top: 30px;
}

.container7 p {
    font-size: 16px;
    color: #444;
    padding-top: 15px;
}

.row8 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* margin-left: 40px; */
}

.box7 {
    width: 22.5%;
    border: 5px solid white;
    margin-top: 15px;
    margin-right: 17px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
    position: relative;
}

.box77 img {
    /* border: 1px solid black; */
    width: 100%;
    /* height: 50%; */
}

.box7 .row8head {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 20px;
    color: #07294d;
    font-weight: bold;
}

.box7 .row8head:hover {
    color: #ffc600;
}

.box7 h3 {
    text-align: center;
    margin-bottom: 15 px;
    margin-left: 15px;
    font-size: 19px;
    color: #666;
    font-weight: 500;
}

.box77 .overlay1 i {
    /* border-radius: 100%; */
    padding: 10px;
    font-size: 15px;
    /* margin-left: 5px; */
    /* background-color: #ffc600; */
    color: #000;
    text-align: center;
}

.box77 .overlay1 {
    position: absolute;
    top: 0.1%;
    left: 0;
    right: 0;
    background-color: rgba(8, 41, 77, 0.9);
    overflow: hidden;
    height: 0;
    transition: .3s ease;
    /* border-radius: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box77:hover .overlay1 {
    height: 82%;
    top: 0;
    /* opacity: 0.8; */
}




.part8 {
    background-color: #FFF;
    /* border: 1px solid black; */
    font-family: sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    margin-bottom: 30px;
}

.container8 {
    /* background-color: grey; */
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 15px;
}

.container8 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    padding-top: 30px;
}

.container8 p {
    font-size: 16px;
    color: #444;
    padding-top: 15px;
}

.row9 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* margin-left: 40px; */
}

.box8 {
    width: 30%;
    /* border: 1px solid white; */
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 28px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
}

.box8 .line1 {
    border-bottom: 1px solid #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 22px;
}

.box8 .line2 {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 28px;
    font-weight: bold;
}

.box8 .line3 {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.box8 .line4 {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.box8 .line5 {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.box8 .line6 {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}


.box8 .line7 {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.box8 .line8 {
    border-bottom: 1px solid #eee;
    border-radius: 2px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.line8 .l1 {
    border: 1px solid #fff;
    background-color: #4382ff;
    padding: 15px;
    color: #fff;
}

.line8 .l2 {
    border: 1px solid #fff;
    background-color: #554da7;
    padding: 15px;
    color: #fff;
}

.line8 .l3 {
    border: 1px solid #fff;
    background-color: #f94fa4;
    padding: 15px;
    color: #fff;
}





.part9 {
    background-image: url(background.jpg);
    /* border: 1px solid black; */
    font-family: 'Rubik', sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    margin-bottom: 30px;
}

.container9 {
    /* background-color: grey; */
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 15px;
}

.container9 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    padding-top: 30px;
}

.container9 p {
    font-size: 16px;
    color: #444;
    padding-top: 15px;
}

.row10 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* margin-left: 40px; */
}

.box9 {
    width: 30%;
    border: 5px solid white;
    margin-top: 15px;
    margin-right: 28px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
}

.box9 .eventimg {
    /* border: 1px solid black; */
    position: relative;
    /* height: 50%; */
}

.box9 .eventimg img {
    width: 100%;
}

.text-in-image {
    border: 1 px solid #ffc600;
    background-color: #ffc600;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    max-width: 75px;
}

.text-in-image h5 {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    margin: 0px;
    text-align: center;
}

.text-in-image h5 span {
    display: block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.box9 .row10head {
    text-align: left;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 20px;
    color: #07294d;
    font-weight: bold;
}

.box9 .row10head:hover {
    color: #ffc600;
}

.box9 p {
    text-align: left;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 16px;
    margin-right: 20px;
    color: #666;

}

.iconuser2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-left: 15px; */
    /* margin-bottom: 10px; */
    margin-top: 10px;
    border-top: 1px solid #EEE;
}

.user2 {
    border-right: 1px solid #EEE;
    width: 50%;
    padding: 20px;
    color: #07294d;
    font-size: 16px;
    font-weight: 100;
}

.location2 {
    width: 50%;
    padding: 20px;
    color: #07294d;
    font-size: 16px;
    font-weight: 100;
}

.part10 {
    background-color: #fff;
    /* border: 1px solid black; */
    font-family: 'Rubik', sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    margin-bottom: 30px;
}

.container10 {
    /* background-color: grey; */
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
}

.row11 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* margin-left: 40px; */
}

.box10 {
    width: 15%;
    /* border: 1px solid white; */
    border-radius: 10px;
    /* margin-top: 15px; */
    margin-right: 50px;
    /* margin-bottom: 20px; */
    /* background-color: #fff; */
}

.box10 img {
    /* border: 1px solid black; */
    width: 100%;
    /* height: 50%; */
}









.slider-area3 {
    background-color: rgba(8, 41, 77, 0.9);
    position: relative;
}

.slider-area3 {
    background-image: url(bg-slide.jpg);
    height: 100%;
    width: 100%;
    /* padding-bottom: 60%; */
    /* margin-bottom: 100px; */
    position: relative;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}

.slider-area3 .slider-shape3 {
    position: absolute;
    top: -4px;
    rotate: 180deg;
    width: 100%;
    /* left: -2px; */
}

.slider-area3 .container12 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 9%;
    padding-right: 4.5%;
}

.container12 .col12 {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 10px;
    /* margin-bottom: 25%; */
}

.heading1 {
    font-family: 'rubik', sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffc600;
}

.border1 {
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 3px solid #ffc600;
    width: 25%;
}

.content12 {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.conicon {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #ffc600;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding-right: 15px;
    padding-top: 2px;
}

.context {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 15px;
}

.logoimg {
    display: flex;
    flex-direction: row;
}

.logoimg img {
    width: 40%;
    padding-right: 15px;
}







.part12 {
    /* border: 1px solid black; */
    font-family: 'Rubik', sans-serif;
    padding-left: 9%;
    padding-right: 4.5%;
    padding-bottom: 20px;
    /* margin-bottom: 10px; */
}

.row12 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 5px;
    /* margin-left: 40px; */
}

.box12 {
    width: 22%;
    /* border: 1px solid white; */
    /* margin-top: 15px; */
    margin-right: 27.5px;
    margin-bottom: 10px;
    /* background-color: #fff; */
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box12 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.box12 ul li {
    color: #fff;
    font-size: 18px;
    text-align: center;
}